# Exercise: Exploratory Data Analysis with Pandas
## Instructions
1. Data Collection
    - Search and collect data on the following: (1993 - 2023)
        - Israel interest tares
        - US interest rates
        - USD to ILS exchange rates
    - For each dataset, create a pandas DataFrame with the following columns:
        - Year
        - Month
        - Current_Rate (Interest rate or exchange rate for that month)
        - Change_From_Last_Month (Difference in Current_Rate from the previous month)
        - Optional: You may include additional columns if you find them useful (e.g., Change_Percentage, Date).

In [108]:
def interest_rate_normalization(exr):
    columns_to_drop = ['FREQ', 'COUNTER_CURRENCY', 'SERIES_CODE','SERIES_CODE', 'שם סדרה', 'FREQ', 'תדירות', 'BASE_CURRENCY',
       'מטבע בסיס', 'מטבע נגדי', 'UNIT_MEASURE',
       'יחידות מידה', 'סוג נתון', 'DATA_SOURCE', 'מקור נתונים',
       'אופן חישוב בתקופת זמן', 'CONF_STATUS', 'סיווג סודיות',
       'PUB_WEBSITE', 'פרסום באתר', 'מכפיל יחידות', 'COMMENTS',
        'RELEASE_STATUS', 'שחרור תצפית','UNIT_MULT','TIME_COLLECT','DATA_TYPE']
    exr.drop(columns=columns_to_drop,inplace=True)
    exr['TIME_PERIOD'] = pd.to_datetime(exr['TIME_PERIOD'])
    exr.set_index('TIME_PERIOD', inplace=True)
    return exr.resample('M').mean()

In [109]:
import pandas as pd


def exr_normalization(exr):
    columns_to_drop = ['FREQ', 'COUNTER_CURRENCY', 'SERIES_CODE','SERIES_CODE', 'שם סדרה', 'FREQ', 'תדירות', 'BASE_CURRENCY',
       'מטבע בסיס', 'מטבע נגדי', 'UNIT_MEASURE',
       'יחידות מידה', 'סוג נתון', 'DATA_SOURCE', 'מקור נתונים',
       'אופן חישוב בתקופת זמן', 'CONF_STATUS', 'סיווג סודיות',
       'PUB_WEBSITE', 'פרסום באתר', 'מכפיל יחידות', 'COMMENTS',
        'RELEASE_STATUS', 'שחרור תצפית','UNIT_MULT','TIME_COLLECT','DATA_TYPE']
    exr.drop(columns=columns_to_drop, inplace=True)
    exr['TIME_PERIOD'] = pd.to_datetime(exr['TIME_PERIOD'], errors='coerce')
    exr.set_index('TIME_PERIOD', inplace=True)
    exr.rename_axis('DATE',inplace=True)
    exr.rename(columns={'OBS_VALUE':'value'},inplace=True)
    return exr.resample('M').mean() 


def interest_rate_normalization(exr):
    columns_to_drop = ['SERIES_CODE', 'שם סדרה', 'FREQ', 'תדירות', 'IR_FV_TYPE', 'סוג ריבית',
       'DATA_SOURCE', 'מקור נתונים', 'TIME_COLLECT', 'אופן חישוב בתקופת זמן',
       'CONF_STATUS', 'סיווג סודיות', 'PUB_WEBSITE', 'פרסום באתר',
       'UNIT_MEASURE', 'יחידות מידה', 'UNIT_MULT', 'מכפיל יחידות',
        'RELEASE_STATUS', 'שחרור תצפית']
    exr.drop(columns=columns_to_drop, inplace=True)
    exr['TIME_PERIOD'] = pd.to_datetime(exr['TIME_PERIOD'], errors='coerce')
    exr.set_index('TIME_PERIOD', inplace=True)
    exr.rename_axis('DATE',inplace=True)
    exr.rename(columns={'OBS_VALUE':'value'},inplace=True)
    return exr.resample('M').mean() 


americas_interest_rate = pd.read_csv('FEDFUNDS.csv', delimiter=',')
israel_interest_rate = pd.read_csv('BR.csv', delimiter=',')
exr = pd.read_csv('EXR.csv', delimiter=',')

americas_interest_rate['DATE'] = pd.to_datetime(americas_interest_rate['DATE'], errors='coerce')
americas_interest_rate.set_index('DATE', inplace=True)
americas_interest_rate = americas_interest_rate.resample('M').mean().to_period('M')
americas_interest_rate.rename(columns={'FEDFUNDS':'value'},inplace=True)

israel_interest_rate = interest_rate_normalization(israel_interest_rate).to_period('M')

exr = exr_normalization(exr).to_period('M')

israel_interest_rate.head()
americas_interest_rate.head()

         value
DATE
1993-01   3.02
1993-02   3.03
1993-03   3.07
1993-04   2.96
1993-05   3.00

## Part A: Single DataFrame Analysis 
1. Display the first 5 rows of the US interest rates DataFrame.

2. Calculate the average Israeli interest rate over the period covered by your data.

3. Find the month and year when the USD to ILS exchange rate had the highest increase from the previous month.

4. Determine the total number of months where the US interest rate decreased compared to the previous month.

5. Add a new column to the Israeli interest rates DataFrame called Change_Percentage, representing the percentage change from the previous month.

In [110]:
# A - 1
# your code here
americas_interest_rate.head(5)

         value
DATE
1993-01   3.02
1993-02   3.03
1993-03   3.07
1993-04   2.96
1993-05   3.00

In [111]:
# A - 2
# your code here
israel_interest_rate["value"].mean()

4.882464815653211

In [112]:
# A - 3
# your code here
exr['change'] = exr["value"].diff()
exr.loc[exr['change'].idxmax(),'change']

0.34911111111111115

In [113]:
# A - 4
# your code here
exr[exr['change'] < 0].count()

value     191
change    191
dtype: int64

In [114]:
# A - 5
# your code here
israel_interest_rate['Change_Percentage'] = israel_interest_rate['value'].pct_change() * 100
israel_interest_rate

             value  Change_Percentage
DATE
1994-01  10.500000                NaN
1994-02  10.500000           0.000000
1994-03  10.500000           0.000000
1994-04  10.500000           0.000000
1994-05  10.919355           3.993856
...            ...                ...
2024-07   4.500000           0.000000
2024-08   4.500000           0.000000
2024-09   4.500000           0.000000
2024-10   4.500000           0.000000
2024-11   4.500000           0.000000

[371 rows x 2 columns]

## Part B: Merging DataFrames
1. Merge the US and Israeli interest rates DataFrames on Year and Month.

2. In the merged DataFrame, create a new column Rate_Difference that shows the difference between the Israeli and US interest rates for each month.

3. Identify all months when the Israeli interest rate was at least 1% higher than the US interest rate - IH (Israeli Higher).
Identify all months when the US interest rate was at least 1% higher than the Israeli interest rate - UH (US Higher).
Identify all months when the interest rates were within 1% of each other - N (Near)
make a new column called Rate_Comparison with the following values: IH, UH, or N.

4. Merge the exchange rate DataFrame with the merged interest rates DataFrame.

5. After merging all three DataFrames, find the correlation between the Rate_Difference and the Current_Rate of the exchange rate.
hint: find the connection between the difference in interest rates and the exchange rates, use any method you think is appropriate.
provide an explanation of the results (in Hebrew) - at least 2 rows of text + a proof of the connection(some output) you found.

In [115]:
# B - 1
# your code here
americas_interest_rate['Change_Percentage'] = americas_interest_rate['value'].pct_change() * 100
merged_data = pd.merge(americas_interest_rate, israel_interest_rate, left_index=True,right_index=True, suffixes=('_US', '_IL'))
merged_data

         value_US  Change_Percentage_US   value_IL  Change_Percentage_IL
DATE
1994-01      3.05              3.040541  10.500000                   NaN
1994-02      3.25              6.557377  10.500000              0.000000
1994-03      3.34              2.769231  10.500000              0.000000
1994-04      3.56              6.586826  10.500000              0.000000
1994-05      4.01             12.640449  10.919355              3.993856
...           ...                   ...        ...                   ...
2023-06      5.08              0.395257   4.750000              4.247788
2023-07      5.12              0.787402   4.750000              0.000000
2023-08      5.33              4.101562   4.750000              0.000000
2023-09      5.33              0.000000   4.750000              0.000000
2023-10      5.33              0.000000   4.750000              0.000000

[358 rows x 4 columns]

In [116]:
# B - 2
# your code here
merged_data['difference'] = merged_data['value_IL'] - merged_data['value_US']
merged_data

,value_US,Change_Percentage_US,value_IL,Change_Percentage_IL,difference
DATE,,,,,
1994-01,3.05,3.040541,10.500000,NaN,7.450000
1994-02,3.25,6.557377,10.500000,0.000000,7.250000
1994-03,3.34,2.769231,10.500000,0.000000,7.160000
1994-04,3.56,6.586826,10.500000,0.000000,6.940000
1994-05,4.01,12.640449,10.919355,3.993856,6.909355
...,...,...,...,...,...
2023-06,5.08,0.395257,4.750000,4.247788,-0.330000
2023-07,5.12,0.787402,4.750000,0.000000,-0.370000
2023-08,5.33,4.101562,4.750000,0.000000,-0.580000
2023-09,5.33,0.000000,4.750000,0.000000,-0.580000
2023-10,5.33,0.000000,4.750000,0.000000,-0.580000

In [117]:
# B - 3
# your code here
import numpy as np
conditions = [
   merged_data['value_US'] - merged_data['value_IL']> 1,
   (merged_data['value_IL'] - merged_data['value_US'] >= 1),
]
choices = [ 'UH','IH']
# Create a new column with numpy.select
merged_data['Rate_Comparison'] = np.select(conditions, choices, default='N')
merged_data
exr.loc['1994-01']

value     2.984731
change    0.012694
Name: 1994-01, dtype: float64

In [118]:
# B - 4
# your code here
exr = exr.rename(columns={'value': 'value_exr'})
merged_data = merged_data.merge(exr,left_index=True,right_index=True)

In [120]:
# B - 5
# your code here
merged_data
correlation = merged_data['difference'].corr(merged_data['value_exr'])
correlation

-0.11745274561921125

In [121]:
merged_data

,value_US,Change_Percentage_US,value_IL,Change_Percentage_IL,difference,Rate_Comparison,value_exr,change
DATE,,,,,,,,
1994-01,3.05,3.040541,10.500000,NaN,7.450000,IH,2.984731,0.012694
1994-02,3.25,6.557377,10.500000,0.000000,7.250000,IH,2.976826,-0.007905
1994-03,3.34,2.769231,10.500000,0.000000,7.160000,IH,2.971846,-0.004980
1994-04,3.56,6.586826,10.500000,0.000000,6.940000,IH,2.991591,0.019745
1994-05,4.01,12.640449,10.919355,3.993856,6.909355,IH,3.015077,0.023486
...,...,...,...,...,...,...,...,...
2023-06,5.08,0.395257,4.750000,4.247788,-0.330000,N,3.644636,-0.015459
2023-07,5.12,0.787402,4.750000,0.000000,-0.370000,N,3.668350,0.023714
2023-08,5.33,4.101562,4.750000,0.000000,-0.580000,N,3.745870,0.077520
2023-09,5.33,0.000000,4.750000,0.000000,-0.580000,N,3.820158,0.074288
2023-10,5.33,0.000000,4.750000,0.000000,-0.580000,N,3.978273,0.158115

## Part C: Analyzing Relationships Between DataFrames
1. Analyze whether increases in US interest rates are associated with increases or decreases in the USD to ILS exchange rate in the same month.

2. Determine if changes in the Israeli interest rate have a stronger impact on the exchange rate than changes in the US interest rate.

3. Find any time lags in the effect of interest rate changes on the exchange rate. For example, does a change in US interest rates affect the exchange rate in the following month?
(כלומר- האם כשיש שינוי בריבית כלשהי - האם מייד יש שינוי בשער ההמרה? או שיש דיליי של חודש/חודשים עד שמרגישים את ההשפעה - אם בכלל?)

4. Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.

5. Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

In [71]:
#1
merged_data['value_US'].corr(merged_data['value_exr'])

-0.0031306730833359623

0.08417352727733778

In [103]:
#2
abs(merged_data['value_IL'].corr(merged_data['value_exr'])) > abs(merged_data['value_US'].corr(merged_data['value_exr']))

True

In [75]:
#3
result=pd.Series({
'corr_us_directly':merged_data['value_US'].corr(merged_data['value_exr']),
'corr_il_direcly':merged_data['value_IL'].corr(merged_data['value_exr']),
'corr_us_in_1_month':merged_data['value_US'].corr(merged_data['value_exr'].shift(1)),
'corr_il_in_1_month':merged_data['value_IL'].corr(merged_data['value_exr'].shift(1)),
'corr_us_in_2_month':merged_data['value_US'].corr(merged_data['value_exr'].shift(2)),
'corr_il_in_2_month':merged_data['value_IL'].corr(merged_data['value_exr'].shift(2)),
})
result
#"ע''פ נתונים אלו יש קורולציה שלילית בכל האפשרויות גם מיידי וגם באיחור של 2 חדשים"

corr_us_directly     -0.003131
corr_il_direcly      -0.084174
corr_us_in_1_month   -0.010534
corr_il_in_1_month   -0.087121
corr_us_in_2_month   -0.016520
corr_il_in_2_month   -0.092240
dtype: float64

In [60]:
#4
merged_data['mean_3_months'] = merged_data['value_exr'].rolling(window=3).mean()

In [61]:
#5
merged_data['decreased'] = (merged_data['Change_Percentage_US'] < 0) & (merged_data['Change_Percentage_IL'] < 0)
decreased = merged_data[merged_data['decreased']]
result = pd.Series({
    "decreased": (decreased["change"] < 0).sum(),
    "increased": (decreased["change"] > 0).sum(),
    'corrlation_il' : decreased['Change_Percentage_IL'].corr(decreased['change']),
    'corrlation_us' : decreased['Change_Percentage_US'].corr(decreased['change'])
})
result

decreased        23.000000
increased        36.000000
corrlation_il    -0.231416
corrlation_us    -0.053591
dtype: float64

# Bonus
choose 3 global / local events or periods that you think could have affected the exchange rate or interest rates
and analyze the effect of these events on the data you collected.
show proof of your analysis that supports your claim.

(כלומר- תבחנו אירועים שקרו בתקופה שאתם עובדים עליה ובדקו איך הם השפיעו על הנתונים שאתם עובדים איתם)
למשל: בחירות בארה״ב, בחירות בישראל, רוסיה אוקראינה, מלחמות בישראל וכו׳.

In [96]:
# Your code here
year_war = merged_data[merged_data.index.year==2023]
last_year = merged_data[merged_data.index.year==2022]
result = pd.Series({'change_in_exr' : year_war['value_exr'].mean() - last_year['value_exr'].mean(),
'change_in_rate_il' : year_war['value_IL'].mean() - last_year['value_IL'].mean(),
'change_in_rate_us' : year_war['value_US'].mean() - last_year['value_US'].mean()})
result
#"ע''פ הנתונים חל שיני משמעותי בשתחילת המלחמה ועליית הריבית בשיראל ב3.20 ובאמריקה ב3.07"

change_in_exr        0.316798
change_in_rate_il    3.207842
change_in_rate_us    3.279667
dtype: float64